html {
    font-size: large;
}

/* Backgorund image for transparent elements */
body {
    background-image: url("imgs/design.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Class for elements that should be pinned at the top of the view */
.my-fix-on-top {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the element at the top of the page */
  z-index: 100; /* Put on top of everything else */
  width: 100%;
}

/* Global <html> variables:
scroll: int = number of pixels scrolled down from top
collapsed: bool = is navbar collapsed with a button
*/

/* Makes element transparent if scrolled to top of the page 
Requires saving data-scroll. See main.js::saveScroll() */
/* Starting style for transpaernt-if-top */
.my-transparent-if-top {
    background-color: transparent;
}

/* Color of navbar brand string */
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

html:not([data-scroll='0']) .navbar-light .navbar-brand {
    color: black;
}
html:not([data-collapsed='true']) .navbar-light .navbar-brand {
    color: black;
}
html:not([data-scroll='0']) .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
html:not([data-collapsed='true']) .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

/* transition is only activated after o2seconds after page load. */
html[data-scroll='0'][data-o2secondspassed='1'] .my-transparent-if-top {
    transition: 0.2s;
}

/* Style for navbar when scrolled lower than page top */
html:not([data-scroll='0']) .my-transparent-if-top {
    background-color: #f8f9fa;
    transition: 0.2s;
}
html:not([data-collapsed='true']) .my-transparent-if-top {
    background-color: #f8f9fa;
    transition: 0.2s;
}

.my-one-screen {
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.my-one-screen-item {
    height: 100%;
}

#carousel1 {
    background-image: url("imgs/carousel1.jpg");
}

#carousel2 {
    background-image: url("imgs/carousel2.jpg");
}

#carousel3 {
    background-image: url("imgs/carousel3.jpg");
}

.my-button {
    max-width: 100px;
    padding: 15px;
    border: solid yellow;
    border-radius: 100vh;color: yellow;
    font-family: 'Rubik', sans-serif;
    transition: 0.3s;
}

.my-button:hover {
    background-color: yellow;
    color: black;
    text-decoration: none;
}

.my-arrow-button {
    padding: 1rem;
    border: solid white;
    border-radius: 100px;
    font-size: 1.5rem;
}

/* Opaque page-row */
.my-page-row-opaque {
    background-color: white;
}

/* Transparent page-row */
.my-page-row-transparent {
    background-color: transparent;
    /* background-image: url("imgs/img1.jpg"); */
    /* opacity: 0.1; */
}

/* Class applied to every page-row */
.my-page-row {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Remove margin from a container */
.my-no-margin {
    margin-left: 0;
    margin-right: 0;
}

.my-no-padding {
    padding-left: 0;
    padding-right: 0;
}

.my-food-menu-card {
    margin-top: 10px;
    width: 300px;
    min-width: 200px;
}