html {
    font-size: large;
    scroll-behavior: smooth;
}

/* Class for elements that should be pinned at the top of the view */
.my-fix-on-top {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the element at the top of the page */
  z-index: 100; /* Put on top of everything else */
  width: 100%;
}

/* Global <html> variables:
scroll: int = number of pixels scrolled down from top
collapsed: bool = is navbar collapsed with a button
isnavtransparent: bool = controls whether navbar should be transparent
*/

/* Makes element transparent if scrolled to top of the page 
Requires saving data-scroll. See main.js::saveScroll() */
/* Starting style for transpaernt-if-top */
.my-transparent-if-top {
    background-color: transparent;
}

/* Color of navbar brand string */
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
}

#logo {
    width: 150px;
    transition: width, 0.2s;
}

html:not([data-isnavtransparent='true']) .navbar-light .navbar-brand {
    color: black;
}
html:not([data-isnavtransparent='true']) .navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
html:not([data-isnavtransparent='true']) .navbar-light .navbar-nav .nav-link:hover {
    color: grey;
}

/* Style for navbar when scrolled lower than page top */
html:not([data-isnavtransparent='true']) .my-transparent-if-top {
    background-color: #f8f9fa;
}

html:not([data-isnavtransparent='true']) #logo {
    width: 100px;
}

.my-one-screen {
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.my-one-screen-item {
    height: 100%;
    background-size: cover;
}

.my-button {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 16px;

    border: solid yellow;
    border-radius: 1000px;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: yellow;

    transition: 0.3s;
}

.my-button:hover {
    background-color: yellow;
    color: black;
    text-decoration: none; /* remove underlining on links */
}

.my-arrow-button {
    padding: 1rem;
    border: solid white;
    border-radius: 100px;
    font-size: 1.5rem;
}

/* Opaque page-row */
.my-page-row-opaque {
    background-color: white;
}

/* Transparent page-row */
.my-page-row-transparent {
    background-color: transparent;
    background-image: url("imgs/design.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Dark page-row */
.my-page-row-dark {
    background-color: #222222;
    color: white;
}

/* Bright page-row */
.my-page-row-bright {
    background-color: white;
    color: black;
}

/* Class applied to every page-row */
.my-page-row {
    padding: 60px 0px;
}

.my-food-menu-card {
    margin-top: 10px;
    width: 300px;
    min-width: 200px;
}

.gmap_canvas {
    background: none !important;
}

#hidden-counter {
    transition: 0.2s;
}